# Setup and Data

In [1]:
from inflation_analysis import calculate_price_indexes, output_data, output_obs_table, price_index_over_time, top_abs_weight_differences, top_price_index_contributors, grouping

In [2]:
# Parameters
start_year = 2019
end_year = 2022
top_n = 5
comparison_level = 'primary'
data_folder="/Users/roykisluk/Downloads/Consumer_Expenditure_Survey/"
base_year = start_year
comparison_year = end_year

In [3]:
nationality, observance, income, ses, age, total_misparmb = grouping(start_year, end_year)

In [4]:
# Prepare data: calculate price indexes for each group, {comparison_level} and primary categories, and total
nationality_analysis, nationality_mmb = output_data(nationality, start_year, end_year, base_year, data_folder)
observance_analysis, observance_mmb = output_data(observance, start_year, end_year, base_year, data_folder)
income_analysis, income_mmb = output_data(income, start_year, end_year, base_year, data_folder)
ses_analysis, ses_mmb = output_data(ses, start_year, end_year, base_year, data_folder)
age_analysis, age_mmb = output_data(age, start_year, end_year, base_year, data_folder)

# General population
gen_pop_df, gen_pop_secondary_df, gen_pop_primary_df, gen_pop_yearly_price_index = calculate_price_indexes(start_year, end_year, base_year, cex_data_folder=data_folder)
gen_pop = {
    'combined_secondary_df': gen_pop_secondary_df,
    'combined_primary_df': gen_pop_primary_df,
    'yearly_price_index': gen_pop_yearly_price_index
}

Processing group 1/2 (Arab)
Processing group 2/2 (Jewish)
Processing group 1/5 (Secular)
Processing group 2/5 (Conservative)
Processing group 3/5 (Religious)
Processing group 4/5 (Haredi)
Processing group 5/5 (Mixed)
Processing group 1/5 (1)
Processing group 2/5 (2)
Processing group 3/5 (3)
Processing group 4/5 (4)
Processing group 5/5 (5)
Processing group 1/3 (1)
Processing group 2/3 (2)
Processing group 3/3 (3)
Processing group 1/3 (Young)
Processing group 2/3 (Middle)
Processing group 3/3 (Old)

# Output

## Tables

In [ ]:
# Observations tables

In [ ]:
output_obs_table(start_year, end_year, nationality_mmb, title = "Nationality")

In [6]:
output_obs_table(start_year, end_year, observance_mmb, title = "Observance")

In [7]:
output_obs_table(start_year, end_year, income_mmb, title = "Income")

In [8]:
output_obs_table(start_year, end_year, ses_mmb, title = "SES")

In [9]:
output_obs_table(start_year, end_year, age_mmb, title = "Age")

## Plots

### Yearly Price Index Comparison Between Groups

In [ ]:
price_index_over_time(nationality_analysis, gen_pop_yearly_price_index, title = 'Nationality')

In [ ]:
price_index_over_time(observance_analysis, gen_pop_yearly_price_index, title = 'Observance')

In [ ]:
price_index_over_time(income_analysis, gen_pop_yearly_price_index, title = 'Income')

In [ ]:
price_index_over_time(ses_analysis, gen_pop_yearly_price_index, title = 'SES')

In [ ]:
price_index_over_time(age_analysis, gen_pop_yearly_price_index, title = 'Age')

### Top Weight Differences

In [ ]:
# Define control group
weights_comparison_control = gen_pop[f'combined_{comparison_level}_df'][gen_pop[f'combined_{comparison_level}_df']['Year'] == comparison_year]

In [ ]:
# Top weight differences - nationality groups
nationality_comparison_groups = {}
for group in nationality_analysis:
    nationality_comparison_groups[group] = nationality_analysis[group][f'combined_{comparison_level}_df'][nationality_analysis[group][f'combined_{comparison_level}_df']['Year'] == comparison_year]
top_abs_weight_differences(nationality_comparison_groups, weights_comparison_control, top_n, title = "Nationality")

In [ ]:
observance_comparison_groups = {}
for group in observance_analysis:
    observance_comparison_groups[group] = observance_analysis[group][f'combined_{comparison_level}_df'][observance_analysis[group][f'combined_{comparison_level}_df']['Year'] == comparison_year]
top_abs_weight_differences(observance_comparison_groups, weights_comparison_control, top_n, title = "Observance")

In [ ]:
# Top weight differences - income groups
income_comparison_groups = {}
for group in income_analysis:
    income_comparison_groups[group] = income_analysis[group][f'combined_{comparison_level}_df'][income_analysis[group][f'combined_{comparison_level}_df']['Year'] == comparison_year]
top_abs_weight_differences(income_comparison_groups, weights_comparison_control, top_n, title = "Income")

In [ ]:
# Top weight differences - SES groups
ses_comparison_groups = {}
for group in ses_analysis:
    ses_comparison_groups[group] = ses_analysis[group][f'combined_{comparison_level}_df'][ses_analysis[group][f'combined_{comparison_level}_df']['Year'] == comparison_year]
top_abs_weight_differences(ses_comparison_groups, weights_comparison_control, top_n, title = "SES")

In [ ]:
# Top weight differences - age groups
age_comparison_groups = {}
for group in age_analysis:
    age_comparison_groups[group] = age_analysis[group][f'combined_{comparison_level}_df'][age_analysis[group][f'combined_{comparison_level}_df']['Year'] == comparison_year]
top_abs_weight_differences(age_comparison_groups, weights_comparison_control, top_n, title = "Age")

### Top Contributors to CPI Change

In [ ]:
# Top contributors - nationality groups
nationality_yearly_price_indexes = {}
for group in nationality_analysis:
    nationality_yearly_price_indexes[group] = nationality_analysis[group]['yearly_price_index'][comparison_year]
top_price_index_contributors(nationality_comparison_groups, nationality_yearly_price_indexes, top_n, title = "Nationality")

In [ ]:
# Top contributors - observance groups
observance_yearly_price_indexes = {}
for group in observance_analysis:
    observance_yearly_price_indexes[group] = observance_analysis[group]['yearly_price_index'][comparison_year]
top_price_index_contributors(observance_comparison_groups, observance_yearly_price_indexes, top_n, title = "Observance")

In [ ]:
# Top contributors - income groups
income_yearly_price_indexes = {}
for group in income_analysis:
    income_yearly_price_indexes[group] = income_analysis[group]['yearly_price_index'][comparison_year]
top_price_index_contributors(income_comparison_groups, income_yearly_price_indexes, top_n, title = "Income")

In [ ]:
# Top contributors - SES groups
ses_yearly_price_indexes = {}
for group in ses_analysis:
    ses_yearly_price_indexes[group] = ses_analysis[group]['yearly_price_index'][comparison_year]
top_price_index_contributors(ses_comparison_groups, ses_yearly_price_indexes, top_n, title = "SES")

In [ ]:
# Top contributors - age groups
age_yearly_price_indexes = {}
for group in age_analysis:
    age_yearly_price_indexes[group] = age_analysis[group]['yearly_price_index'][comparison_year]
top_price_index_contributors(age_comparison_groups, age_yearly_price_indexes, top_n, title = "Age")

In [ ]:
# Export to html [--no-input]
!jupyter nbconvert --to html Group_inflation_comparison.ipynb --output Group_inflation_{comparison_level}_top_{top_n}.html