# Setup

In [ ]:
# Parameters

## Years
start_year = 2019
end_year = 2022
base_year = start_year
years = range(start_year, end_year + 1)

## Grouping
young_age_cutoff=25
old_age_threshold=65

## Indexing
price_variable = 'mehir' # 'mehir' or 'omdan'

## Output
top_n = 5
comparison_year = end_year
comparison_level = 'primary'

## Folder Names
cex_data_folder="/Users/roykisluk/Downloads/Consumer_Expenditure_Survey/"
folder_names_pathname='Data_clean/CEX_folder_names.csv'
age_groups_pathname='Data_clean/age_groups.csv'
prodcode_dict_pathname = 'Data_clean/prodcode_dictionary_c3-c399.csv'
    
## Libraries
import pandas as pd
import pyreadstat  
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

# Data

In [87]:
# Load folder names
folder_names_df = pd.read_csv(folder_names_pathname)

# Load age groups
age_groups_df = pd.read_csv(age_groups_pathname)
young_age_group_id = age_groups_df[(age_groups_df['min_age'] <= young_age_cutoff) & (age_groups_df['max_age'] >= young_age_cutoff)].index[0] + 1
old_age_group_id = age_groups_df[(age_groups_df['min_age'] <= old_age_threshold) & (age_groups_df['max_age'] >= old_age_threshold)].index[0] + 1

# Load household data for each year
dfs_mb = {}
for year in years:
    subfolder = folder_names_df.loc[folder_names_df['Year'] == year, 'Folder_Name'].values[0]
    data_HH_pathname = f"{cex_data_folder}{subfolder}/{subfolder}datamb.sas7bdat"
    df, meta = pyreadstat.read_sas7bdat(data_HH_pathname)
    df.columns = df.columns.str.lower()
    if 'gil' in df.columns:
        df.rename(columns={'gil': 'age_group'}, inplace=True)
    df['misparmb'] = df['misparmb'].astype(int)
    dfs_mb[year] = df

# Load individual data for each year
dfs_prat = {}
for year in years:
    subfolder = folder_names_df.loc[folder_names_df['Year'] == year, 'Folder_Name'].values[0]
    data_IND_pathname = f"{cex_data_folder}{subfolder}/{subfolder}dataprat.sas7bdat"
    df, meta = pyreadstat.read_sas7bdat(data_IND_pathname)
    df.columns = df.columns.str.lower()
    if 'gil' in df.columns:
        df.rename(columns={'gil': 'age_group'}, inplace=True)
    df['misparmb'] = df['misparmb'].astype(int)
    dfs_prat[year] = df

# Load expenses data for each year
dfs_prod = {}
for year in years:
    subfolder = folder_names_df.loc[folder_names_df['Year'] == year, 'Folder_Name'].values[0]
    data_prices_pathname = f"{cex_data_folder}{subfolder}/{subfolder}dataprod.sas7bdat"
    df, meta = pyreadstat.read_sas7bdat(data_prices_pathname)
    df.columns = df.columns.str.lower()
    df['misparmb'] = df['misparmb'].astype(int)
    df['prodcode'] = df['prodcode'].astype(int).astype(str)
    dfs_prod[year] = df

# Load survey data for each year
dfs_survey = {}
for year in years:
    subfolder = folder_names_df.loc[folder_names_df['Year'] == year, 'Folder_Name'].values[0]
    data_prices_pathname = f"{cex_data_folder}{subfolder}/{subfolder}datayoman.sas7bdat"
    df, meta = pyreadstat.read_sas7bdat(data_prices_pathname)
    df.columns = df.columns.str.lower()
    df['misparmb'] = df['misparmb'].astype(int)
    df['prodcode'] = df['prodcode'].astype(int).astype(str)
    dfs_survey[year] = df

# Grouping

## Data

In [ ]:
Groups = {}
for year in years:
    Groups[year] = pd.DataFrame(dfs_mb[year]['misparmb'].unique(), columns=['misparmb'])

In [ ]:
for year in years:
    dfs_mb_year = dfs_mb[year]
    dfs_prat_year = dfs_prat[year]

    nationality_map = {1: 'Jewish', 2: 'Arab'}
    observance_map = {1: 'Secular', 2: 'Conservative', 3: 'Religious', 4: 'Ultra-Orthodox', 5: 'Mixed'}

    Groups[year]['Nationality'] = dfs_mb_year['nationality'].map(nationality_map).fillna('Other')
    Groups[year]['Observance'] = dfs_mb_year['ramatdatiyut'].map(observance_map).fillna('Other')

    age_group_map = {age_group_id: 'Young' if age_group_id <= young_age_group_id else 'Old' if age_group_id >= old_age_group_id else 'Middle' for age_group_id in dfs_prat_year['age_group'].unique()}
    Groups[year]['Age_Group'] = dfs_prat_year.loc[dfs_prat_year['y_kalkali'] == 1, 'age_group'].map(age_group_map).values

    Groups[year]['Income_Decile'] = dfs_mb_year['decile'].fillna(0).astype(int)

    Groups[year]['Income_Quintile'] = pd.cut(dfs_mb_year['decile'], bins=[0, 2, 4, 6, 8, 10], labels=[1, 2, 3, 4, 5])

    Groups[year]['SES_Quintile'] = dfs_mb_year['cluster'].apply(lambda x: x if x in range(1, 6) else np.nan).fillna(0).astype(int)
    Groups[year]['SES_Tertile'] = dfs_mb_year['cluster'].apply(lambda x: 1 if x in [1, 2] else 2 if x == 3 else 3 if x in [4, 5] else np.nan).fillna(0).astype(int)

    Groups[year]['Children'] = dfs_mb_year['nefashotad18'].fillna(0).astype(int)
    Groups[year]['Family_Size'] = Groups[year]['Children'].apply(lambda x: 'no children' if x == 0 else '1 to 3' if x in [1, 2, 3] else '4 plus')

In [ ]:
'''
groups_mmb = {}
for year in years:
    for group in Groups[year].columns[1:]:
        for subgroup in Groups[year][group].unique():
            groups_mmb[(year, group, subgroup)] = Groups[year][Groups[year][group] == subgroup]['misparmb'].values
'''

## Groups Dataframes Headers

In [ ]:
for year in years:
    display(HTML(f"<h2>Groups for Year {year}</h2>"))
    display(HTML(Groups[year].head().to_html(index=False)))
    print(f"Number of observations: {len(dfs_mb[year])}")

## Plot Groups Distribution

In [ ]:
# Get the columns to plot
columns_to_plot = [col for col in Groups[end_year].columns if col != 'misparmb']

# Calculate the number of rows needed
ncols = 3
nrows = (len(columns_to_plot) + ncols - 1) // ncols

# Create subplots
fig, axes = plt.subplots(nrows=nrows, ncols=ncols, figsize=(ncols * 5, nrows * 5))

# Flatten the axes array for easy iteration
axes = axes.flatten()

# Plot each column
for ax, column in zip(axes, columns_to_plot):
    Groups[end_year][column].value_counts().sort_index().plot(kind='bar', ax=ax, color='skyblue')
    ax.set_title(f'Distribution of {column} in {end_year}')
    ax.set_xlabel(column)
    ax.set_ylabel('Count')

# Remove any unused subplots
for ax in axes[len(columns_to_plot):]:
    fig.delaxes(ax)

plt.tight_layout()
plt.show()

# Indexing

## Laspeyres Index

$$
I_{i}=\frac{\sum_{j\in L}{\frac{P_{ij}}{P_{oj}}(P_{oj}Q_{oj})}}{\sum_{j\in L}P_{oj}Q_{oj}}\times 100
$$

$$\text{For our purposes:}$$

$$
I_{ij}=\frac{P_{ij}}{P_{oj}}
$$
$$
W_{oj}=\frac{P_{oj}Q_{oj}}{\sum_{j\in L}P_{oj}Q_{oj}}
$$
$$
I_{i}=\sum_{j\in L}W_{oj}I_{ij}\times 100
$$



$$
\text{Where:}\\
I_{i}\text{  - Index for the current period}\\
Q_{oj}\text{  - Quantity of the good or service in the base period}\\
P_{oj}\text{  - Price of the good or service in the base period}\\
P_{ij}\text{  - Price of the good or service in the current period}\\
L\text{  - The set of all goods and services in the index basket}\\
$$

### Calculate Weights

In [88]:
def calculate_weights(product_level, year, group_mmb):
    # Expenses dataframe for consumption expenses only
    expenses_df = dfs_prod[year][dfs_prod[year]['prodcode'].astype(str).str.startswith('3')]

    # Filter only IDs that match the group
    expenses_df = expenses_df[expenses_df['misparmb'].isin(group_mmb)].reset_index(drop=True)

    # Keep only the product codes at the correct product level
    expenses_df = expenses_df[expenses_df['prodcode'].str.len() == product_level]

    # Sum the expense for each prodcode
    expenses_df = expenses_df.groupby('prodcode')['schum'].sum().reset_index()

    # Calculate weights
    expenses_df['weight'] = expenses_df['schum'] / expenses_df['schum'].sum()

    return expenses_df

In [89]:
product_level = 6
year = base_year

weights = {}
for group in Groups[year].columns[1:]:
    for subgroup in Groups[year][group].unique():
        mmb = Groups[year][Groups[year][group] == subgroup]['misparmb']
        weights[subgroup] = calculate_weights(product_level, year, mmb)

### Prices

In [90]:
def calculate_prices(product_level, year, group_mmb):
    # Prices dataframe for consumption expenses only
    prices_df = dfs_survey[year][dfs_survey[year]['prodcode'].astype(str).str.startswith('3')].copy()

    # Filter only IDs that match the group
    prices_df = prices_df[prices_df['misparmb'].isin(group_mmb)].reset_index(drop=True)

    # Keep only the product codes at the correct product level
    prices_df = prices_df[prices_df['prodcode'].str.len() == product_level]

    # Calculate prices
    prices_df['price'] = prices_df['mehir'].fillna(0) / prices_df['kamut'].fillna(1)

    # Keep only prodcode and price columns
    prices_df = prices_df[['prodcode', 'price']]

    return prices_df

In [ ]:
prices = {}
for year in years:
    prices[year] = {}
    for group in Groups[year].columns[1:]:
        for subgroup in Groups[year][group].unique():
            mmb = Groups[year][Groups[year][group] == subgroup]['misparmb']
            prices[year][subgroup] = calculate_prices(product_level, year, mmb)

{'Jewish':        prodcode      price
 0        304113  10.000000
 1        304170   5.000000
 2        335075  10.000000
 3        317065  40.000000
 4        317131  60.000000
 ...         ...        ...
 323877   309021   4.933333
 323878   302323  11.900000
 323879   303057   4.975000
 323880   305011   4.500000
 323881   335208   0.100000

 [323882 rows x 2 columns],
 'Arab':       prodcode      price
 0       304014   5.000000
 1       300079   1.000000
 2       304154   0.075000
 3       300418  25.000000
 4       303099  66.666667
 ...        ...        ...
 51851   305078  20.000000
 51852   300319  20.000000
 51853   300319  10.000000
 51854   300335  20.000000
 51855   300442  20.000000

 [51856 rows x 2 columns],
 'Other':      prodcode      price
 0      300236  13.900000
 1      304154  14.900000
 2      312090   7.904762
 3      312025   7.000000
 4      393025  18.900000
 ...       ...        ...
 1748   300046  10.900000
 1749   335018  85.000000
 1750   308049  25.000000
 1751   309021  10.000000
 1752   300319  35.000000

 [1753 rows x 2 columns],
 'Religious':       prodcode      price
 0       304113  10.000000
 1       304170   5.000000
 2       335075  10.000000
 3       317065  40.000000
 4       317131  60.000000
 ...        ...        ...
 63327   315101  10.000000
 63328   315226  15.400000
 63329   315101   8.900000
 63330   315226  10.900000
 63331   311019   3.899624

 [63332 rows x 2 columns],
 'Conservative':        prodcode  price
 0        315069  21.90
 1        309039  21.80
 2        304014   5.90
 3        304014   5.90
 4        305011   3.90
 ...         ...    ...
 103764   315176  11.50
 103765   304147   7.90
 103766   304121   5.10
 103767   300624  30.00
 103768   372011   0.01

 [103769 rows x 2 columns],
 'Ultra-Orthodox':       prodcode  price
 0       300079    0.8
 1       383166  200.0
 2       312090   12.0
 3       312116    5.0
 4       376285   20.0
 ...        ...    ...
 33793   354183   12.0
 33794   364141   50.0
 33795   381038   37.5
 33796   300301   25.0
 33797   334029  400.0

 [33798 rows x 2 columns],
 'Secular':        prodcode      price
 0        335034  20.000000
 1        343095   1.000000
 2        304113  19.000000
 3        304212   5.000000
 4        304113  16.000000
 ...         ...        ...
 175790   309021   4.933333
 175791   302323  11.900000
 175792   303057   4.975000
 175793   305011   4.500000
 175794   335208   0.100000

 [175795 rows x 2 columns],
 'Mixed':       prodcode  price
 0       308049  15.00
 1       364141  18.88
 2       391045  26.00
 3       300376  10.60
 4       335208   0.10
 ...        ...    ...
 11937   312371   2.90
 11938   300046  13.90
 11939   300046  14.00
 11940   305094  18.90
 11941   300061   1.60

 [11942 rows x 2 columns],
 'Old':       prodcode      price
 0       304113  10.000000
 1       304170   5.000000
 2       335075  10.000000
 3       317065  40.000000
 4       317131  60.000000
 ...        ...        ...
 94521   313148   6.898925
 94522   309088  50.000000
 94523   309997  39.900000
 94524   300426  12.900000
 94525   312207  15.900000

 [94526 rows x 2 columns],
 'Young':       prodcode    price
 0       315069   21.900
 1       309039   21.800
 2       304014    5.900
 3       304014    5.900
 4       305011    3.900
 ...        ...      ...
 53952   335034   11.900
 53953   304303    1.575
 53954   383166   90.000
 53955   308064  100.000
 53956   383166   80.000

 [53957 rows x 2 columns],
 'Middle':        prodcode      price
 0        305102  35.925926
 1        312033   2.800000
 2        309153   5.000000
 3        300046   7.200000
 4        313106   7.450000
 ...         ...        ...
 241901   309021   4.933333
 241902   302323  11.900000
 241903   303057   4.975000
 241904   305011   4.500000
 241905   335208   0.100000

 [241906 rows x 2 columns],
 5:      prodcode      price
 0      312116   5.000000
 1      311019   5.000000
 2      313015  10.000000
 3      312074  10.000000
 4      300046   6.666667
 ...       ...        ...
 8251   300319   8.900000
 8252   335018  24.900000
 8253   316018   4.000000
 8254   335026   4.000000
 8255   376236   4.000000

 [8256 rows x 2 columns],
 9:     prodcode  price
 0     304014    6.0
 1     300061    2.0
 2     300079    5.0
 3     302109   26.0
 4     364125   50.0
 ..       ...    ...
 732   300624   49.9
 733   393124   12.9
 734   305128    5.9
 735   335208    0.1
 736   300079    3.6

 [737 rows x 2 columns],
 7:      prodcode     price
 0      300038  7.500000
 1      304303  0.833333
 2      305094  3.600000
 3      300061  2.000000
 4      304048  3.000000
 ...       ...       ...
 3012   309062  9.400000
 3013   305094  9.400000
 3014   300236  5.300000
 3015   300038  4.500000
 3016   309997  2.000000

 [3017 rows x 2 columns],
 10:     prodcode      price
 0     300442  15.000000
 1     304220   6.000000
 2     304303  24.000000
 3     395079  20.000000
 4     354191  14.900000
 ..       ...        ...
 556   383166   6.234444
 557   351023  60.000000
 558   351049  80.000000
 559   359992  54.900000
 560   300418   4.000000

 [561 rows x 2 columns],
 6:      prodcode       price
 0      312025    4.899225
 1      335208   12.900000
 2      301028   24.900000
 3      300418    7.500000
 4      345140    1.666667
 ...       ...         ...
 5753   300426    2.800000
 5754   317057    7.000000
 5755   317040    5.800000
 5756   300285    6.800000
 5757   385179  643.500000

 [5758 rows x 2 columns],
 4:       prodcode   price
 0       305078   3.000
 1       302323  24.900
 2       315051   6.500
 3       314013   4.450
 4       307025   7.300
 ...        ...     ...
 19543   343327  23.900
 19544   343327  10.000
 19545   364141  60.945
 19546   364158  43.925
 19547   354191  29.900

 [19548 rows x 2 columns],
 2:       prodcode       price
 0       383224  100.000000
 1       309203   65.000000
 2       396077   40.000000
 3       397067   26.000000
 4       308098   70.000000
 ...        ...         ...
 65955   309021    4.933333
 65956   302323   11.900000
 65957   303057    4.975000
 65958   305011    4.500000
 65959   335208    0.100000

 [65960 rows x 2 columns],
 3:       prodcode       price
 0       304014    6.000000
 1       304147    5.750000
 2       304147    5.750000
 3       304170    5.750000
 4       304105    7.000000
 ...        ...         ...
 48907   313064    4.608333
 48908   302133   35.045455
 48909   302133  383.333333
 48910   312306   14.900000
 48911   335042   19.900000

 [48912 rows x 2 columns],
 1:       prodcode      price
 0       304014   5.000000
 1       300079   1.000000
 2       304154   0.075000
 3       300418  25.000000
 4       303099  66.666667
 ...        ...        ...
 54311   315176  11.500000
 54312   304147   7.900000
 54313   304121   5.100000
 54314   300624  30.000000
 54315   372011   0.010000

 [54316 rows x 2 columns],
 8:      prodcode       price
 0      381111  156.000000
 1      373225   36.000000
 2      309997    3.000000
 3      311019   17.500000
 4      312041    2.923077
 ...       ...         ...
 1589   312090    0.007910
 1590   312157    0.012900
 1591   315119    2.000000
 1592   300285    7.500000
 1593   315010    4.000000

 [1594 rows x 2 columns],
 0:        prodcode      price
 0        304113  10.000000
 1        304170   5.000000
 2        335075  10.000000
 3        317065  40.000000
 4        317131  60.000000
 ...         ...        ...
 181333   313148   6.898925
 181334   309088  50.000000
 181335   309997  39.900000
 181336   300426  12.900000
 181337   312207  15.900000

 [181338 rows x 2 columns],
 11:     prodcode  price
 0     300038    6.6
 1     304014    5.0
 2     304220    6.9
 3     300368    2.0
 4     309153    2.5
 ..       ...    ...
 229   312298   80.0
 230   302018  200.0
 231   303032  170.0
 232   309997   60.0
 233   302109  150.0

 [234 rows x 2 columns],
 13:    prodcode      price
 0    312090   2.622222
 1    335257   3.000000
 2    304014   3.633333
 3    372060  10.000000
 4    372060  30.000000
 ..      ...        ...
 68   345165  50.000000
 69   312090   3.902230
 70   343251   4.000000
 71   335257   3.500000
 72   309062   1.900000

 [73 rows x 2 columns],
 12:    prodcode      price
 0    300079   1.300000
 1    304212   2.500000
 2    304121   4.600000
 3    304212   1.000000
 4    300335   2.900000
 ..      ...        ...
 80   300038   6.600000
 81   300327  18.900000
 82   300442  24.900000
 83   335208   0.100000
 84   307025   6.366667

 [85 rows x 2 columns],
 'no children':        prodcode      price
 0        304113  10.000000
 1        304170   5.000000
 2        335075  10.000000
 3        317065  40.000000
 4        317131  60.000000
 ...         ...        ...
 181333   313148   6.898925
 181334   309088  50.000000
 181335   309997  39.900000
 181336   300426  12.900000
 181337   312207  15.900000

 [181338 rows x 2 columns],
 '1 to 3':        prodcode       price
 0        383224  100.000000
 1        309203   65.000000
 2        396077   40.000000
 3        397067   26.000000
 4        308098   70.000000
 ...         ...         ...
 169183   309021    4.933333
 169184   302323   11.900000
 169185   303057    4.975000
 169186   305011    4.500000
 169187   335208    0.100000

 [169188 rows x 2 columns],
 '4 plus':       prodcode   price
 0       305078   3.000
 1       302323  24.900
 2       315051   6.500
 3       314013   4.450
 4       307025   7.300
 ...        ...     ...
 39858   343327  23.900
 39859   343327  10.000
 39860   364141  60.945
 39861   364158  43.925
 39862   354191  29.900

 [39863 rows x 2 columns]}